<article class="post">
  <div class="card">   
    <div class="flex-row justify-space-between">
      <div class="col-8">        
        <a href="/post/{{id}}"><h3 class="card-header">{{title}}</h3></a>
      </div>
      <div class="align-center justify-center">
        (Posted by {{user.username}} on {{format_date created_at}})
      </div>
    </div>
    <div class="card-body">
      <p>{{post_content}}</p>    
    </div>
  </div>
</article>

